*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar
{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10vh;
    align-items: center;
    z-index: 5000;
}

.navbar p
{
    font-size: 3vmin;
}

.controllers select
{
    padding:0.85rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.controllers select option
{
    padding: 0.5rem 1rem;
}

.gameDisplay
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}


#gameGrid
{
    background-color: #bbada0;
    display: grid;
    grid-template-columns: repeat(var(--grid_size), var(--cell_size));
    grid-template-rows: repeat(var(--grid_size), var(--cell_size));
    gap: var(--cell_gap);
    padding: var(--cell_gap);
    border-radius: 1vmin;
    position: relative;
    font-size: 7.4vmin;
    font-weight: 500;
}

.cell 
{
    background-color: #cdc1b4;
    border-radius: 1vmin;
}

.tile
{
   --x: 1;
   --y : 0;
    position: absolute;
    width: var(--cell_size);
    height: var(--cell_size);
    background-color:hsl(120, 50%, var(--tile_bg)) ;
    color:hsl(30, 8%, var(--tile_color)) ;
    border-radius: 1vmin;
    
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(var(--x)*(var(--cell_size) + var(--cell_gap)) + var(--cell_gap));
    top: calc(var(--y)*(var(--cell_size) + var(--cell_gap)) +  var(--cell_gap));

    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0%{
        opacity: 0.5;
        transform: scale(0);
    }
}


